.box{
    width: 100%;
    padding: 20px;
    display: flex; justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--green-color-ml);
    border-radius: 10px;
}

/* profile edit */
.profile_edit_box{
    width: 40%; max-width: 200px; min-width: 80px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-bottom: 5px;
    position: relative;
}

.remove_img_btn{
    position: absolute; top: 0; right: 0;
    display: flex; justify-content: center; align-items: center;
    background-color: white;
    border-radius: 100%;
    z-index: 1000;
    font-size: 30px;
}

.img_box{
    width: 100%; height: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
}

.map_default_img{
    display: flex; justify-content: center;
    align-items: center;
}

.img_box label, .img_box img{
    width: 100%; height: 100%;
    position: absolute;
    display: flex; justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 8rem;
    border-radius: 100%;
}

.img_box input{
    width: 100%; height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.file_btn_wrap{
    display: flex; justify-content: center;
    align-items: center;
}

.file_remove_btn{
    padding: 5px;
}

.file_remove_btn.del_true{
    background-color: var(--red-color-l);
    color:white;
}

.file_remove_btn.del_false{
    background-color: var(--green-color-dm);
    color: white;
}

/* info */

.info_box{
    width: 70%;
}

.form_box{
    margin-bottom: 15px;
}

.btn_wrap{
    margin: 15px auto 0;
    display: flex; justify-content: flex-end;
}

.del_btn{
    margin-left: 5px;
}
