.container{
    width: 90%;
    margin: 50px 0;
    position: relative;
}

.title{
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.add_btn_wrap{
    position: absolute; top: 0; right: 0;
}

.add_btn{
    margin-right: 5px;
}

.box{
    width: 100%;
    padding: 10px;
    display: flex; justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--green-color-m);
    border-radius: 10px;
}

.map{
    width: 30%; height: 200px;
    margin: 10px; padding: 8px;
    border-radius: 5px;
    background-color: var(--green-color-ml);
}

.map_img_box{
    width: 100%; height: 150px;
    margin-bottom: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

.map_title{
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.plus_wrap{
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    display: flex; justify-content: center; align-items: center;
    background-color: var(--green-color-m);
    border-radius: 10px;
}

.plus_wrap button{
    font-size: 1.5rem;
    color:#fff;
    background-color: transparent;
}