.box{
    width: 100%;
    padding: 5px 10px;
    background-color: var(--green-color-m);
    border-radius: 5px;
}

.box ul li {
    margin: 5px 0;
}

.box ul li input{
    margin-right: 10px;
    border: none;
}

.box ul li span{
    color: white;
}