.box{
    width: 100%;
    padding: 5px 10px;
    background-color: var(--green-color-m);
    border-radius: 5px;
    position: relative;
}

.memo_title{
    padding: 5px;
    position: absolute; top: -20px; left: -10px;
    background-color: var(--green-color-ml);
    border-radius: 5px;
}

.more_btn{
    padding: 5px;
    position: absolute; top: -20px; right: 0px;
    border: 1px solid var(--green-color-d);
    background-color: var(--green-color-ml);
}

.memo_box{
    width: 100%;
    margin-top: 20px;
    display: flex; justify-content: space-between;
    flex-wrap: wrap;
}

.memo{
    width: 45%; height: 200px;
    margin: 10px; padding: 8px;
    border-radius: 5px;
    background-color: var(--green-color-ml);
}

.title{
    margin-bottom: 10px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}