.container{
    width: 90%;
    margin: 50px 0;
    position: relative;
}

.title{
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.btn_wrap{
    position: absolute; top: 0; right: 0;
}

.box{
    width: 100%;
    background-color: var(--green-color-m);
    border-radius: 10px;
}

.box ul{
    width: 100%;
    padding: 20px;
}

.box ul li{
    width: 100%;
    padding: 10px 20px;
    display: flex;
}

.info_box{
    width: 100%;
    display: flex; justify-content: space-between;
}

.check_info_box{
    display: flex; justify-content: flex-start;
    align-items: center;
}

.check_input{
    margin-right: 20px;
    display: block;
    transform: scale(2);
    border: none;
}

.check_title{
    display: block;
    color:white;
}

.info_box .checked{
    text-decoration: line-through;
}

.option_btn_wrap{
    display: flex; justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.edit_btn{
    margin-right: 5px;
}

.plus_wrap{
    width: 100%;
    padding-bottom: 10px;
    display: flex; justify-content: center; align-items: center;
    background-color: var(--green-color-m);
    border-radius: 10px;
}

.plus_wrap button{
    font-size: 1.5rem;
    color:white;
    background-color: transparent;
}

.input_box {
    width: 100%;
    padding: 0 40px 40px;
    display: flex; justify-content: space-between;
}

.input_box input{
    width: 80%;
    padding: 10px;
    margin-right: 5%;
}

.edit_input_box{
    width: 100%;
    display: flex; justify-content: space-between;
    align-items: center;
}

.edit_input_box input{
    width: 80%;
    padding: 10px;
    margin-right: 5%;
}