.container{
    width: 90%;
    margin: 50px 0;
    position: relative;
}

.box{
    width: 100%;
    padding: 20px;
    display: flex; flex-direction: column;
    align-items: center;
    background-color: var(--green-color-ml);
    border-radius: 10px;
}

/* info */
.form_box{
    width: 80%;
    margin-bottom: 15px;
}

.btn_wrap{
    margin: 15px auto 0;
    display: flex; justify-content: center;
    align-items: center;
}

.btn_wrap button{
    margin: 0 10px;
}

.del_btn{
    margin-left: 5px;
}

.password_eye{
    padding: none;
    position: absolute; right:8%; top: 12%;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color:rgb(68, 68, 68);
    cursor:pointer;
}